<!-- FEATURES -->
<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-12">
        <h2 class="mb-4">Experiences</h2>

        <div class="timeline">
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2015</span>
            </div>
            <div class="timeline-info">
              <h3><span>scout leader</span><small>mednine-tunis</small></h3>
              <p>until today,as a Girl Scout leader, I empower and guide young girls to develop skills, confidence,
                and character, fostering a supportive environment for their personal growth and success</p>
            </div>
          </div>
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2020</span>
            </div>
            <div class="timeline-info">
              <h3><span>CRT volunteer</span> <small>mednine-tunis</small></h3>
              <p>As a CRT volunteer, I remain a critical asset in providing assistance during emergencies, supporting
                my community with training such as First Aid until today.</p>
            </div>
          </div>
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2023</span>
            </div>
            <div class="timeline-info">
              <h3><span>internship</span><small>SRTM </small></h3>
              <p>I integrated in the professional life and it was the first contact with the client.</p>
            </div>
          </div>
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2024</span>
            </div>
            <div class="timeline-info">
              <h3><span>internship</span><small>LeaderVoyage </small></h3>
              <p>I created a web application to help the Director of LeaderVoyage solve his problem.</p>
            </div>
          </div>



        </div>
      </div>

      <div class="col-lg-6 col-12">
        <h2 class="mb-4 mobile-mt-2">Educations</h2>

        <div class="timeline">
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2016</span>
            </div>
            <div class="timeline-info">
              <h3><span>Secondary School</span><small>Raja Secondary School</small></h3>
              <span>2016-2019</span>
              <p>Successfully completed my Secondary school with an 'evey good ' rating, excelling in subjects like
                Maths, English, Science, Literature, and Languages.</p>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2019</span>
            </div>
            <div class="timeline-info">
              <h3><span>Higher Secondary</span><small>Abo Ghasim Alshabi</small></h3>
              <span>2019-2022</span>
              <p>Completion of high school with a good grade I am now eager to apply these skills and knowledge
                to
                pursue a
                fulfilling academic and professional journey in the field of science and technology. </p>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2023</span>
            </div>
            <div class="timeline-info">
              <h3><span>Higher Institute of Technological Studies</span><small>zaghouan</small></h3>
              <span>2023-present</span>

              <p>
                I am a computer science student specializing in the development of computer systems.<br>
                The diverse knowledge and skills that I gained have prepared me for opened up exciting possibilities
                for
                my next professional journey.
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>