<section class="skills py-5" id="skills">
    <div class="skills-section">
      <div class="skills-header">
        <h1 >Skills</h1>
      </div>
      <div class="skills-container">
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img
                src="../../assets/images/skills/html.png"
                alt="HTML 5"
                class="skills-icons"
              />
            </div>
            <h3>HTML 5</h3>
          </div>
          
        </div>
  
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img
                src="../../assets/images/skills/css.png"
                alt="CSS3"
                class="skills-icons"
              />
            </div>
            <h3>CSS3</h3>
          </div>
        </div>
  
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img
                src="../../assets/images/skills/js.png"
                alt="JAVASCRIPT"
                class="skills-icons"
              />
            </div>
            <h3>JAVASCRIPT</h3>
          </div>
        </div>
  
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img
                src="../../assets/images/skills/téléchargement.jpeg"
                alt="Bootstrap"
                class="skills-icons"
              />
            </div>
            <h3>Bootstrap</h3>
          </div>
        </div>
  
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img
                src="../../assets/images/skills/Angular_full_color_logo.svg.png"
                alt="Angular"
                class="skills-icons"
              />
            </div>
            <h3>Angular</h3>
          </div>
        </div>
  
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img
                src="../../assets/images/skills/Java_Logo.svg"
                alt="JAVA"
                class="skills-icons"
              />
            </div>
            <h3>JAVA</h3>
          </div>
        </div>
        <div class="skills-box">
            <div class="skills-title">
              <div class="skills-img">
                <img
                  src="../../assets/images/skills/images.png"
                  alt="PHP"
                  class="skills-icons"
                />
              </div>
              <h3>PHP</h3>
            </div>
          </div>
          <div class="skills-box">
            <div class="skills-title">
              <div class="skills-img">
                <img
                  src="../../assets/images/skills/téléchargement.png"
                  alt="Springboot"
                  class="skills-icons"
                />
              </div>
              <h3>Springboot</h3>
            </div>
          </div>
          <div class="skills-box">
            <div class="skills-title">
              <div class="skills-img">
                <img
                  src="../../assets/images/skills/MySQL.svg.png"
                  alt="MYSQL"
                  class="skills-icons"
                />
              </div>
              <h3>MYSQL</h3>
            </div>
          </div>
          <div class="skills-box">
            <div class="skills-title">
              <div class="skills-img">
                <img
                  src="../../assets/images/skills/Canva_Logo.svg.png"
                  alt="canva"
                  class="skills-icons"
                />
              </div>
              <h3>Canva</h3>
            </div>
          </div>
          
          
      </div>
    </div>
  </section>
  